.App {
  text-align: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.navigation{
  display: flex;
  flex-direction: row;
  color: white;
  list-style-type: none;
  font-family: 'Montserrat';
  justify-content: center;
  align-items: center;
}

.hamNav{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navigation1{
  position: fixed;
  color: white;
  background-color: rgba(220,36,48,1);
  z-index: 1;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.navigation1 li{
  margin: 40px 0px 40px 0px;
}

.navigation1 a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat';
}

.mainOut{
  text-decoration: none;
  color: white;
  margin: 20px;
}

.hamburger{
  display: none;
  justify-content: center;
  align-items: center;
}

.logo{
  font-family: 'Fashonista';
  font-size: 40px;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.tabsHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white
}

.home{
  background-image: url('./assets/wp4991626.webp');
}

.hello{
  width: 100%;
  height: 70vh;
}

.homeBack{
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(153deg, rgba(0,0,0,1) 39%, rgba(22,46,79,0) 100%, rgba(58,123,213,0) 100%);
  display: flex;
  flex-direction: row;
}

.quoteContainer{
  width: 50%;
  height: 70vh;
  display: flex;
  align-items: center;
}

.mainQuote{
  font-size: 50px;
  font-family: 'Yeseva One';
}

.quote{
  width: 100%;
  text-align: left;
  color: white;
  padding: 10px;
  display: grid;
}

.doubleleft{
  font-family: 'Black Ops One';
  font-size: 180px;
  background: rgb(123,67,151);
  background: linear-gradient(90deg, rgba(123,67,151,1) 0%, rgba(220,36,48,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.doubleright{
  font-family: 'Black Ops One';
  font-size: 180px;
  background: #7b4397;
  background: linear-gradient(90deg, rgba(123,67,151,1) 0%, rgba(220,36,48,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.testimonials{
  margin: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.headingTesti{
  font-size: 4.5em;
  max-width: 90%;
  font-family: 'Montserrat';
  color: white;
  font-weight: 1000;
  margin: 70px;
  background: linear-gradient(90deg, rgba(123,67,151,1) 0%, rgba(220,36,48,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.aboutme{
  margin: 70px;
  color: white
}

.headingAboutme{
  font-family: 'Montserrat';
  font-size: 4.5em;
  font-weight: 1000;
  text-align: left;
}

.aboutmeContent{
  display: flex;
  justify-content: space-around;
}

.aboutmeImage{
  margin: 50px;
  margin-top: 70px;
}

.aboutmeImage img{
  aspect-ratio: 1/1;
  width: 200px;
  border-radius: 50%;
}

.aboutmepara{
  font-family: 'Montserrat';
  font-size: 18px;
  text-align: justify;
  margin: 50px;
  margin-top: 70px;
}

.contactus{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 150px;
}

.contactUsHeading{
  color: white;
  font-size: 4.5rem;
  font-weight: 1000;
  text-align: left;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.gradient{
  background: linear-gradient(90deg, rgba(123,67,151,1) 0%, rgba(220,36,48,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabby{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1320px){
  .contactus{
    grid-template-columns: none;
    grid-template-rows: 1fr 2fr;
    place-items: center;
    margin: 20px;
  }

  .contactUsHeading{
    text-align: center;
    margin-top: 0px;
    font-size: 3em;
    align-items: center;
  }

  .tabby{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px){
  .hello{
    width:100%;
  }
  
  .quoteContainer{
    display: none;
  }

  .homeBack{
    flex-direction: column;
  }

  .tabby{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width:991px) {
    .navigation {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .headingTesti{
      margin: 10%;
      font-size: 10vw;
      margin-top: 80px;
      margin-bottom: 60px;
    }

    .aboutme{
      margin-left: 30px;
      margin-right: 30px;
    }

    .aboutmeContent{
      flex-direction: column;
    }

    .aboutmeImage img{
      max-width: 200px;
      width: 100%;
    }

    .aboutmepara{
      margin: 0px;
    }

    .aboutmeImage{
      margin: 5px;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .headingAboutme{
      text-align: center;
      font-size: 10vw;
    }

    .contactUsHeading{
      font-size: 10vw;
    }

    .tabby{
      grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 400px) {

  .tabby{
    grid-template-columns: 1fr;
  }
}